@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dashboard-gap: 12px;
    --blue: #1992D4;
    --white: #ffffff;
    --icon-size: 3rem;
    --search-bar-background: #E2E8F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container > div,
.navigation-container > div {
    border: 1px solid red;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
}

.main-container {
    display: grid;
}

.dashboard-container {
    display: grid;
    justify-content: center;
    color: var(--white);
    background-color: var(--blue);
    padding: 20px;
    align-content: start;
    gap: 1rem;
}

.dashboard-container > div {
    justify-content: flex-start;
}

.dashboard-header {
    display: flex;
    align-items: center;
    gap: var(--dashboard-gap);
    margin-bottom: 2rem;
}

.dashboard-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
}

.dashboard-header-icon svg path {
    fill: var(--white);
}

.dashboard {
    display: flex;
    gap: var(--dashboard-gap);
}

.dashboard-icon {
    display: flex;
    justify-content: center;
    width: var(--icon-size);
    height: calc(var(--icon-size) / 2);
}

.dashboard-icon svg {
    width: 50%;
    height: auto;
}

.dashboard-icon svg path {
    fill: var(--white);
}

.dashboard-container :nth-child(7) {
    margin-bottom: 4rem;
}

.navigation-container {
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-icon {
    width: calc(var(--icon-size) / 1.5 );
    height: calc(var(--icon-size) / 1.5 );
}

.search-bar input {
    width: 100%;
    height: 2rem;
    background-color: var(--search-bar-background);
    border-radius: 4rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-bar input:focus {
    border: 1px solid var(--blue);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media only screen and (min-width: 768px) {
    .main-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 20% 80%;
    }

    .main-container > div:first-child {
        grid-row: 1 / 3;
    }

    .dashboard-container {
        justify-content: flex-start;
    }

    .navigation-container {
        display: grid;
        grid-template-columns: 7fr repeat(3, 1fr);
        grid-template-rows: 1fr 1.5fr;
    }

    .search-bar {
        grid-column: 1;
        grid-row: 1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-bar input {
        max-width: 1000px;
    }

    .user-profile-small {
        grid-column: 2 / 5;
        grid-row: 1;
    }

    .user-profile-large {
        grid-column: 1;
        grid-row: 2;
    }
}